#section1{
    background-color: black;
    height: 128vh;
}
.img1{
    position: relative;
    top: 60px;
    left: 690px;
}
.content1{
    /* border: 2px solid; */
    color: white;
}
.content1 h1{
    font-size: 50px;
    position: relative;
    bottom: 500px;
    left: 100px;
}
.content1 p{
    position: relative;
    left: 100px;
    bottom: 470px;
}
.travel1{
    /* border: 2px solid; */
    display: flex;
    width: 400px;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    position: relative;
    left: 100px;
    bottom: 450px;
    border-radius: 8px;
    background-color: white;
    color: black;
    cursor: text;
}
.loc1{
    position: relative;
    right: 110px;
    font-size: 18px;
    color: grey;
    
}
.travel2{
    position: relative;
    bottom: 440px;
}
.loc2{
    position: relative;
    right: 213px;
}
.price{
    /* border: 2px solid; */
    padding: 12px 16px;
    width: 120px;
    font-size: 17px;
    font-weight: 500;
    border-radius: 8px;
    background-color: white;
    color: black;
    position: relative;
    left: 100px;
    bottom: 410px;
    cursor: pointer;
}
.price a{
    text-decoration: none;
    color: black;
}
#section2 header{
    font-size: 35px;
    font-weight: bold;
    position: relative;
    left: 80px;
    top: 50px;
}
.box{
    display: flex;
    /* border: 2px solid; */
    justify-content: space-evenly;
    position: relative;
    top: 75px;
    height: 150px;
    
}
.box1{
    /* border: 2px solid; */
    width: 390px;
    border-radius: 8px;
    background-color: rgb(243, 243, 243);
    cursor: pointer;
}
.box1 h5{
    font-size: 16px;
    position: relative;
    left: 7px;
    font-weight: 600;
    top: 10px;
}
.box1 p{
    font-size: small;
    position: relative;
    top: 18px;
    left: 7px;
}
.box1 h4{
    /* border: 2px solid; */
    position: relative;
    top: 32px;
    left: 12px;
    padding: 5px 13px;
    width: 76px;
    border-radius: 15px;
    background-color: white;
    font-weight: 500;
}
.box1 img{
    position: relative;
    left: 240px;
    bottom: 77px;
    height: 130px;
    width: 130px;
}
#section3{
    position: relative;
    top: 200px;
}
.content3{
    position: relative;
    /* border: 2px solid; */
    display: flex;
    justify-content: space-evenly;
}
.subcont3{
    /* border: 2px solid; */
    display: flex;
    flex-direction: column;
    
    width: 500px;
}
.subcont3 h1{
    font-size: 44px;
    position: relative;
    top: 100px;
    left: 30px;
}
.subcont3 h5{
    position: relative;
    top: 155px;
    left: 187px;
    font-size: 17px;
    font-weight: 400;
}
.subcont3 h5 a{
    color: black;
    text-decoration: underline grey;  
}
.subcont3 h5 a:hover{
    text-decoration: underline black;
}
.subcont3 h4{
    /* border: 2px solid; */
    position: relative;
    top: 190px;
    left: 30px;
    width: 125px;
    padding: 13px;
    border-radius: 7px;
    background-color: black;
    text-align: center;
}
.subcont3 h4 a{
    color: white;
    text-decoration: none; 
}
.subcont3 p{
    position: relative;
    top: 150px;
    left: 30px;
}
.content4{
    position: relative;
    top: 110px;
    flex-direction: row-reverse;
}
.content5{
    position: relative;
    top: 225px;
}
.subcont5 h1{
    top: 123px;
    font-size: 39px;
}
.content6{
    /* border: 2px solid; */
    position: relative;
    top: 300px;
    height: 430px;
    background-color: rgb(243, 243, 243);
}
.app{
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
    position: relative;
    top: 100px;
}
.app1{
    /* border: 1px solid; */
    width: 560px;
    background-color: white;
    cursor: pointer;
    position: relative;
    right: 25px;
}
.app1 h3{
    position: relative;
    left: 200px;
    bottom: 85px;
    font-size: 24px;
}
.app1 h5{
    position: relative;
    left: 200px;
    bottom: 80px;
    font-size: 17px;
    font-weight: 400;
}
.app1 img{
    position: relative;
    top: 30px;
    left: 25px;
}
.app2{
    position: relative;
    left: 20px;
}
.content6 h2{
    position: relative;
    left: 87px;
    top: 67px;
    font-size: 38px ;
    font-weight: 500;
}


